/* global.css*/

@tailwind base;
@tailwind components;
@tailwind utilities;


 
/* Thin scrollbar with #555 color and transparent background */
::-webkit-scrollbar {
    width: 5px;
    height: 5px; /* If you also want to customize horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 9999px; /* Fully rounded corners */
  }
  
